<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Hello, Jiyeon</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <header>
        <img src="https://s3.amazonaws.com/codecademy-content/courses/learn-css-grid/lesson-ii/savory.svg" class="logo">
      </header>

      <main>
        <div class="photo a">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/29790481_783653071827829_6312151484719467097_n.jpg?_nc_cat=0&oh=f4e65a860847626d060870b1f845256f&oe=5B6CE6C3" />
          <h2>창덕궁에서 1</h2>
         
          <p class="date">18.04.01</p>
          <p class="description">
            안녕~<br>친구들과 창덕궁에 다녀온 날</p>
        </div>
        <br><br><br>
        <div class="photo b">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/26219796_783651305161339_4162510120264094577_n.jpg?_nc_cat=0&oh=0dadc900b1f8e52b82533b1d6e4cef8e&oe=5B35CE16" />
          <h2>창덕궁에서 2</h2>
          <p class="date">18.04.01</p>
          <p class="description">
            예쁜 척.....<br>친구들과 창덕궁에 다녀온 날
          </p>
        </div>
        <br><br><br>
        <div class="photo c">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/29695260_783651371827999_1750533425125701081_n.jpg?_nc_cat=0&oh=1c20af59ca51682451c1b3c542f81a0e&oe=5B384AE5" />
          <h2>창덕궁에서 3</h2>
          <p class="date">18.04.01</p>
          <p class="description">
            현타가 옴..<br>친구들과 창덕궁에 다녀온 날</p>
        </div>
        <br><br><br>
        <div class="photo d">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/29792028_783651238494679_651566574092433175_n.jpg?_nc_cat=0&oh=e7a488180813e80421e01e0810dfe1ff&oe=5B6FD02D" />
          <h2>코펜하겐에서</h2>
          <p class="date">17.12.29</p>
          <p class="description">
            코펜하겐이 아닌 것 같지만 맞음..<br>이 날 먹은 타르트가 아직도 기억나는 날</p>
        </div>
        
        <br><br><br>
        <div class="photo e">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/29790016_783651235161346_5293363807209592617_n.jpg?_nc_cat=0&oh=7afff75918d260170f1cd3f5b574a3ae&oe=5B31F996" />
          <h2>벽화봉사를 했어요</h2>
          <p class="date">17.11.11</p>
          <p class="description">
            예쁘고 귀여운 벽화를 그렸다<br>건축봉사 동아리 미라클 좋아</p>
        </div>
        <br><br><br>
        <div class="photo f">
          <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/29684185_783651298494673_453426009617574649_n.jpg?_nc_cat=0&oh=bb0f87412a6a00e7c6dae165c1582a15&oe=5B2D0B10" />
          <h2>후쿠오카에서</h2>
          <p class="date">17.05.20</p>
          <p class="description">
            후쿠오카 온천 정말 최고<br>온천에서 먹는 맥주 꿀맛</p>
        </div>
        
    
      </main>

      <footer>
        <img src="https://s3.amazonaws.com/codecademy-content/courses/learn-css-grid/lesson-ii/savory.svg" class="logo">
      </footer>

    </div>
  </body>

</html>